#sobre{
    background-color: var(--white);
    color: var(--dark-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100vw;
    height: auto;

    padding: 4em 12em 0 12em;
}

/*parece gambiarra, mas tem de ser desse jeito para ficar bonito*/
#sobre-primeiro-container, #sobre-segundo-container{
    font-size:3em;
    text-indent: 2em;
}

#sobre-primeiro-container p, #sobre-segundo-container p{
    padding-top:2em;
}

#sobre-segundo-container{
    display: flex;
    flex-direction: row;
}

#img-sobre{
    width:60%;
    object-fit: cover;
}


