@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*ROOT PALETA*/
:root{
    --blue:#4B8AE9;
    --dark-blue:#1A3162;
    --orange:#EF8354;
    --magenta:#D81159;
    --mustard: #EC8A00;
    --rich-black: #00171F;
    --white: #FFFFFF;
}

/*ALGUMAS CLASSES*/
.pointer{
    cursor:pointer;
}

.hide{
    display:none;
}
.uppercase{
    text-transform: uppercase;
}

h1,h2{
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
}

.paragraph{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.paragraph-bold{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

