@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: pink;
}


/*ROOT PALETA*/
:root{
    --blue:#4B8AE9;
    --dark-blue:#1A3162;
    --orange:#EF8354;
    --magenta:#D81159;
    --mustard: #EC8A00;
    --rich-black: #00171F;
    --white: #FFFFFF;

    /*fins de teste*/
    --primary-test:#1a1ed8;
}

/*ALGUMAS CLASSES*/
.pointer{
    cursor:pointer;
}

.hide{
    display:none;
}
.uppercase{
    text-transform: uppercase;
}

h1,h2{
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.paragraph{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: justify;
}

.paragraph-bold{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

/*design titulos com icone de setinha*/
.heading-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap:1em;

}
.heading-icon{
    width:4em;
}

.heading-section h2{
    font-size:4em;
}

/*RESPONSIVO*/

/*== 2330 px ==*/
@media (max-width:2330px) and (min-width:2101px){
    .heading-icon{
        width:3.5em;
    }

    .heading-section h2{
        font-size:3.5em;
    }
}

/*==  2100 px ==*/
@media (max-width:2100px) and (min-width:1801px){    
    .heading-icon{
        width:3em;
    }

    .heading-section h2{
        font-size:3em;
    }
}

/*==  1800 px ==*/
@media (max-width:1800px) and (min-width:1601px){
    .heading-icon{
        width:2.5em;
    }

    .heading-section h2{
        font-size:2.5em;
    }
}

/*==  1600 px ==*/
@media (max-width:1600px) and (min-width:1301px){
    .heading-icon{
        width:2.3em;
    }

    .heading-section h2{
        font-size:2.3em;
    }
}

/*===1300px ===*/
@media (max-width:1300px) and (min-width:1101px){
    .heading-icon{
        width:2em;
    }

    .heading-section h2{
        font-size:2em;
    }
}

/*===1100px ===*/
@media (max-width:1100px) and (min-width:1001px){
  .heading-icon{
        width:1.7em;
    }

    .heading-section h2{
        font-size:1.7em;
    }
}

/*===1000px ===*/
@media (max-width:1000px) and (min-width:901px){
    .heading-icon{
        width:1.5em;
    }

    .heading-section h2{
        font-size:1.5em;
    }
}

/*===900px ===*/
@media (max-width:900px) and (min-width:781px){
    .heading-icon{
        width:1.3em;
    }

    .heading-section h2{
        font-size:1.3em;
    }
}

/*===780px ===*/
@media (max-width:780px) and (min-width:651px){
    .heading-icon{
        width:1.3em;
    }

    .heading-section h2{
        font-size:1.3em;
    }
}

/*===650px ===*/
@media (max-width:650px) and (min-width:601px){
    .heading-icon{
        width:1.2em;
    }

    .heading-section h2{
        font-size:1.2em;
    }
}

/*===600px ===*/
@media (max-width:600px) and (min-width:501px){
    .heading-icon{
        width:1em;
    }

    .heading-section h2{
        font-size:1em;
    }
}

/*===500px ===*/
@media (max-width:500px) and (min-width:426px){
    .heading-icon{
        width:0.8em;
    }

    .heading-section h2{
        font-size:0.8em;
    }
}

/*===425px ===*/
@media (max-width:425px) and (min-width:376px){
    .heading-icon{
        width:0.8em;
    }

    .heading-section h2{
        font-size:0.8em;
    }
}


/*===375px ===*/
@media (max-width:375px) and (min-width:321px){
    .heading-icon{
        width:0.8em;
    }

    .heading-section h2{
        font-size:0.8em;
    }
}

/*===320px ===*/
@media (max-width:320px){
    .heading-icon{
        width:0.8em;
    }

    .heading-section h2{
        font-size:0.8em;
    }
}











